
@{
    ViewBag.Title = "RememberPassword";
    Layout = "~/Views/Shared/_LogIn.cshtml";
}

@model RememberPwd
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>N&uacute;mero de Tarjeta</label>
                <div class="form-inline">
                    @Html.TextBoxFor(x => x.numberCard1, null, new { @class = "form-control tarjeta-numero", @maxlength = 5 })
                    -
                    @Html.TextBoxFor(x => x.numberCard2, null, new { @class = "form-control tarjeta-numero", @maxlength = 4 })
                    -
                    @Html.TextBoxFor(x => x.numberCard3, null, new { @class = "form-control tarjeta-numero", @maxlength = 4 })
                </div>
            </div>
            @if (Model.accessDenied)
            {
                <span class="alert alert-danger help-block">
                    N&uacute;mero de tarjeta no encontrado
                </span>
            }
            else if (Model.expiredCard)
            {
                <span class="alert alert-danger help-block">
                    ¡Lo sentimos! En nuestro registros aparece su tarjeta con m&aacute;s de 30 d&iacute;as de vencida.
                    <br />
                    Si considera que esto es un error, favor de comunicarse a <a href="mailto:servicio@emeci.com">servicio@emeci.com</a> o
                    con la persona a la cual liquid&oacute; el importe de su servicio de mantenimiento.
                </span>
            }
            else if (Model.success)
            {
                <span class="alert alert-success help-block">
                    Su contrase&ntilde;a ha sido enviada a su correo electr&oacute;nico.
                </span>
            }
            else if (Model.errorMail)
            {
                <span class="alert alert-danger help-block">
                    Hubo un error al enviar su correo electr&oacute;nico.
                </span>
            }

            @if (!Model.success)
            {
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Recordar</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.ActionLink("Regresar", "FirstAccess", "LogIn", null, new { @class = "btn btn-primary" })
                </div>
            }
            <hr />
        </div>
    </div>
}

<script>
    $(function () {
        $('.form-inline input[type="text"]').keypress(function (event) {
            var num = (event.charCode) ? event.which : event.keyCode;
            return (num == 8 || (num >= 48 && num <= 57));
        })

        $('#numberCard1').keypress(function () {
            if ($(this).val().length >= 5) {
                $('#numberCard2').focus();
            }
        })

        $('#numberCard2').keypress(function () {
            if ($(this).val().length >= 4) {
                $('#numberCard3').focus();
            }
        })
    })
</script>